/* General */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
/* -------------- MEDIA QUERIES (small devices) ---------- */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
/* Nav */

/* -------------- MEDIA QUERIES (small devices) ---------- */
@media screen and (max-width: 600px) {
  nav a {
    padding: 0.5rem;
  }
}
/* Nav */

/* Banner */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
/* Banner */

/* About */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}
/* About */

/* Education */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .educationsC__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .educations {
    height: auto;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .educationsC__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
/* Education */

/* Skills */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .skills__content {
    padding: 1rem;
    grid-template-columns: 2fr 2fr;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .skills__container {
    gap: 1rem;
  }
  .skills__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
  .skills__content {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
}
/* Skills */

/* Work Exp */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .workexperience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .workexperience__container {
    grid-template-columns: 1fr;
  }
  .workexperience__content {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
  .w-cont2 {
    width: 86% !important;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .workexperience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
/* Work Exp */

/* Contact */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
/* Contact */

/* Footer */
/* -------------- MEDIA QUERIES (medium devices) ---------- */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
/* Footer */
